*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: #FFE8BE;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;

}

.navbar .navbar-container div ul{
    display: flex;
}

.navbar .navbar-container div ul li{
    list-style: none;
    justify-content: flex-end;
    margin-left: 50px;
    color: #856019;
    text-decoration: none;
}

.navbar-brand{
    color: #856019;
    text-decoration: none;
}

.navbar-brand:hover{
    color: #4E3400;
    text-decoration: none;
}

.navbar-brand.active{
    color: #4E3400;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur min = taille de l'écran */
    background-color: #EDCE97;
}

main{
    flex: 1;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 9999;
}
.cookie-banner button {
    margin-left: 10px;
}

/*---------------------Acceuil---------------------------*/

.about, .featured-animals, .how-it-works {
    padding: 50px 20px;
    text-align: center;
}

.animal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}
.animal-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.animal-card img {
    max-width: 100%;
    border-radius: 10px;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.step span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

/*---------------------connexion/inscription---------------------------*/

.form-container {
    max-width: 500px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #7c5a22; /* brun foncé */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    color: black;
}

.form-container h1 {
    text-align: center;
    color: black;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.3rem;
    color: #fce4b3;
    font-weight: bold;
    text-transform: lowercase;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #fce4b3; /* beige clair */
    color: black;
    font-size: 1rem;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.form-buttons button,
.form-buttons .form-link {
    background-color: #fce4b3;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.form-buttons .form-link:hover,
.form-buttons button:hover {
    background-color: #e2c994;
}

/*-------------------animal----------------------------*/


.container {
    display: flex;
    background-color: #7d6028; /* Marron */
        padding: 2rem;
}

.filters {
    width: 200px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.filters select,
.filters button {
    padding: 10px;
    background-color: #fce5b4; /* beige */
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.animal-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* largeur max plus petite */
    gap: 3rem; /* plus d’espace entre les cartes */
    padding: 2rem;
    justify-items: center;
}

.animal-card {
    background-color: #fce5b4;
    padding: 0.5rem;
    text-align: center;
    width: 160px; /* carte plus petite */
    border: 6px solid #fce5b4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* effet léger */
    border-radius: 10px; /* optionnel : arrondir les angles */
}

.animal-card img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 3px solid #7d6028;
    border-radius: 8px;
}

.animal-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}



/*-------------------animal detail----------------------------*/


.animal-detail-container {
    background-color: #eac78b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.animal-card {
    background-color: #7c5b27;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.animal-title {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.animal-image {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.animal-info {
    background-color: #f6deb0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.info-texte {
    margin: 0;
    font-size: 1.2rem;
    color: black;
}

.info-button {
    background-color: #aaa;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.animal-reserver {
    text-align: center;
}

.reserver-button {
    background-color: #f6deb0;
    color: black;
    font-size: 1.5rem;
    padding: 0.6rem 2rem;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

/*--------------------profil---------------------------*/

.profil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Retire le padding */
}

.profil-box {
    background-color: #7a5c25;
    padding: 3rem;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
}

.profil-box h1 {
    text-align: center;
    color: white;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #fce6bb;
    font-size: 1rem;
}

.form-group p {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #fce6bb;
    font-size: 1rem;
}

.profil-btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.profil-btn button {
    padding: 1rem 2rem;
    background-color: #fce6bb;
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}


/*--------------------ajout animal---------------------------*/



.form-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #7a5c25;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-box h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fce6bb;
    font-size: 16px;
}

.btn-primary {
    display: block;
    width: 100%;
    background-color: #fce6bb;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/*--------------------contact---------------------------*/


.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
    width: 100%;
    height: 100vh; /* occupe toute la hauteur visible */
    box-sizing: border-box;
}

.contact-left,
.contact-right {
    flex: 1;
    height: 500px; /* ou plus, selon ton besoin */
}

.contact-left {
    background-color: #7a5c25;
    padding: 2rem;
}

.form-group label {
    color: white;
    margin-bottom: 0.2rem;
    display: block;
}

.form-group input {
    background-color: #fce4b5;
    border: none;
    padding: 0.5rem;
    width: 100%;
}

.btn-submit {
    background-color: #fce4b5;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.contact-right {
    background-color: #ccc;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group-message {
    width: 100%;
    height: 100%;
}

.form-group-message textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    box-sizing: border-box;
}


/*--------------------footer---------------------------*/

footer{
    height: 80px;
    width: 100%;
    background-color: #FFE8BE;
}

footer p{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}