{% extends 'base.html.twig' %}

{% block title %} Page introuvable {% endblock %}

{% block body %}
<main class="error-page">
    <div class="error-container">
        <h1 class="error-code">404</h1>
        <h2 class="error-tittle">Oups ! Cette page est introuvable</h2>
        <p class="error-message">Il semble que l'adresse que vous cherchez n'existe pas ou a été déplacée.</p
{% endblock %}